In [1]:

import pandas as pd 
raw = pd.read_csv('testset_evaluation_data.csv')

In [2]:
def strip_special_tokens(text):
    text = text.replace("<SOS>", "").replace("<EOS>", "")
    text = text.replace("<sos>", "").replace("<eos>", "")
    text = text.replace("<unk>", "?").replace("<UNK>", "?")
    text = text.strip()
    return text

df = raw.copy()
df['article'] = df['article'].apply(strip_special_tokens)
df['summary'] = df['summary'].apply(strip_special_tokens)
df['predicted'] = df['predicted'].apply(strip_special_tokens)
df

,Unnamed: 0,summary,article,article_len_approx,summary_len_approx,predicted
0,41319,auto driver carries water for plants every day,forty-year-old auto driver purushottamlal rams...,60,9,auto driver captures 150 kg waste in mumbai
1,38931,no intention to dilute lokpal act govt,the government on wednesday rejected criticism...,60,8,govt rejects law against govt over lok sabha
2,20208,external control on press not good for society...,speaking at the commemoration event of the nat...,61,10,modi not doing good friend pm modi
3,31086,pak proposes nuclear safety partnership with i...,pakistan foreign secretary aizaz chaudhry prop...,56,8,pak foreign secy proposes nuke cooperation on ...
4,6184,us refuses visa to deputy chairman of pakistan...,the united states has reportedly refused visa ...,58,10,us to return to pak ambassador to un chief
...,...,...,...,...,...,...
5506,20635,j amp govt orders reopening of schools along b...,the jammu and kashmir government on monday ord...,59,12,j amp govt bans its schools in jammu
5507,44872,mike powell announces comeback at the age of 52,long jump world record holder mike powell on f...,60,10,world record breaking one year old f1 world re...
5508,16382,driver loses control of car kills another in a...,a man was killed on thursday after the driver ...,56,10,man killed in car car car in the dead
5509,25754,un declared kalam birthday as world students day,united nations declared apj abdul kalam 79th b...,61,9,un gives birth anniversary to the poor students
5510,7235,snapdeal stops users incentive programme amid ...,e-commerce platform snapdeal has reportedly st...,52,9,snapdeal cancels payments service for cash tra...

In [3]:
! pip3 install evaluate rouge_score --quiet

In [4]:
import evaluate
rouge = evaluate.load('rouge')

In [17]:
df

,Unnamed: 0,summary,article,article_len_approx,summary_len_approx,predicted
0,41319,auto driver carries water for plants every day,forty-year-old auto driver purushottamlal rams...,60,9,auto driver captures 150 kg waste in mumbai
1,38931,no intention to dilute lokpal act govt,the government on wednesday rejected criticism...,60,8,govt rejects law against govt over lok sabha
2,20208,external control on press not good for society...,speaking at the commemoration event of the nat...,61,10,modi not doing good friend pm modi
3,31086,pak proposes nuclear safety partnership with i...,pakistan foreign secretary aizaz chaudhry prop...,56,8,pak foreign secy proposes nuke cooperation on ...
4,6184,us refuses visa to deputy chairman of pakistan...,the united states has reportedly refused visa ...,58,10,us to return to pak ambassador to un chief
...,...,...,...,...,...,...
5506,20635,j amp govt orders reopening of schools along b...,the jammu and kashmir government on monday ord...,59,12,j amp govt bans its schools in jammu
5507,44872,mike powell announces comeback at the age of 52,long jump world record holder mike powell on f...,60,10,world record breaking one year old f1 world re...
5508,16382,driver loses control of car kills another in a...,a man was killed on thursday after the driver ...,56,10,man killed in car car car in the dead
5509,25754,un declared kalam birthday as world students day,united nations declared apj abdul kalam 79th b...,61,9,un gives birth anniversary to the poor students
5510,7235,snapdeal stops users incentive programme amid ...,e-commerce platform snapdeal has reportedly st...,52,9,snapdeal cancels payments service for cash tra...

In [22]:
results = pd.DataFrame({
    'test': pd.Series(rouge.compute(references=df['summary'], predictions=df['predicted'])),
    'val': pd.Series(rouge.compute(references=df['summary'], predictions=df['predicted'])),
})
results

               test       val
rouge1     0.299611  0.299611
rouge2     0.096605  0.096605
rougeL     0.277209  0.277209
rougeLsum  0.277079  0.277079